<p style="color: green"><%= notice %></p>

<%= render @restaurant %>

<div>
  <%= link_to "Review", new_restaurant_review_path(@restaurant), class: 'btn btn-primary' %>

  <%= link_to "Back to restaurants", restaurants_path, class: 'btn btn-info' %>
</div>

<div>
  <p><strong>Reviews</strong></p>
  <ul class="list-group">
    <% @restaurant.reviews.each do |review| %>
      <li class="list-group-item">
        <div class="col">
          Review: <%= review.content %>
        </div>
        <div class="col">
          <strong>Rating: <%= review.rating %></strong>
        </div>
      </li>
    <% end %>
  </ul>
  <br>
</div>
